.main-title {
    text-align: center;
}

.registration,
.login {
    text-align: center;
}

.registration .registration__form,
.login .login__form {
    max-width: 500px;
    float: none;
    margin: 0 auto;
}

.form__errors,
.form__errors {
    margin-bottom: 20px;
}

.form__submit,
.form__submit  {
    margin-top: 20px;
}